/* .The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

*/

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
  line-height: 1.5;

  padding: 0;
  margin: 0;

  background-color: var(--almost-white);
  color: var(--medium-gray);
}

a {
  text-decoration: none;
}

img {
  max-height: 100%;
  object-fit: contain;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

/* LAYOUT */

/* NAVIGATION MENU  */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;

  font-size: 16px;
  max-width: 1440px;
}

.navigation a {
  color: var(--medium-gray);
  transition: color 0.13s ease-in-out;
  padding: 15px 10px;
}

.navigation a:hover {
  color: var(--almost-black);
}

.left {
  display: flex;
  align-items: center;
}

a.logo {
  padding-top: 2em;
}

.menu-left {
  display: flex;
  margin-left: 50px;
  gap: 1em;
}

.menu-right {
  display: flex;
  align-items: center;
  gap: 1em;
}

/* DROPDOWNS */

.menu-left li {
  display: block;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
}

.menu-left li svg {
  stroke: var(--medium-gray);
}

.dropdown {
  background: white;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 10px;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  display: none;
  min-width: 10rem;
  position: absolute;
  right: 0;
  transition: all 0.5s ease;
}

.dropdown li {
  padding-top: 10px;
}

.dropdown.align-left {
  left: 0;
}

.dropdown li a img {
  margin-right: 10px;
}

.menu-left li a:hover + .dropdown,
.menu-left li a:focus-within + .dropdown,
.dropdown:hover,
.dropdown:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.menu-left li:hover > a,
.menu-left li:focus-within > a {
  color: var(--almost-black);
  cursor: pointer;
}

.menu-left li:hover svg,
.menu-left li:focus-within svg {
  stroke: var(--almost-black);
  transform: scale(-1, -1);
}

.dropdown li {
  clear: both;
  width: 100%;
}

/* REGISTER BUTTON */

.register-cta a {
  padding: 0.5em 1em;
  border: 2px solid var(--medium-gray);
  border-radius: 10px;

  transition: border 0.13s ease-in-out, color 0.13s ease-in-out;
}

.register-cta:hover a {
  border: 2px solid var(--almost-black);
  color: var(--almost-black);
}

/* HERO SECTION */

.container {
  display: flex;
  max-width: 1200px;
  height: 80vh;
  gap: 1rem;

  margin: 0 auto;
  padding: 1rem;
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-right: 4rem;
}

.left-column h1 {
  font-size: 3.7rem;
  font-weight: 700;
  line-height: 1;
  color: var(--almost-black);

  margin: 1rem 0 1rem 0;
  margin-bottom: 1rem;
}

.learn-more-cta {
  color: var(--almost-white);
  background-color: var(--almost-black);

  width: fit-content;
  padding: 1rem 2rem;
  border: 2px solid var(--almost-black);
  border-radius: 10px;

  margin: 2rem 0;

  transition: background-color 0.13s ease-in-out;
}

.learn-more-cta:hover {
  background-color: var(--almost-white);
  color: var(--almost-black);
}

.clients {
  display: flex;
  margin-top: auto;
  gap: 2rem;
  justify-content: space-between;
}

.clients img {
  flex: 1;

  width: 1rem;
  object-fit: contain;
}

.right-column {
  flex: 1;
}

.right-column img {
  width: 100%;
}
